@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@font-face {
  font-family: accorm;
  src: url(JosefinSans-Regular.ttf);
}
:root {
  --color1: #acacf9;
  --color2: #8787c6;
  --color3: #4b4b6e;
  --back: rgba(15,15,22,1);
  --navBar: rgba(30, 30, 44, 1);
  --bg-img: url(def-back);
  --trans1: rgba(172, 172, 249, 0.15);
  --trans2: rgba(172, 172, 249, 0.1);
  --s-back: rgba(46, 55, 72, 1);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.42), rgba(0,0,0,0.42)), var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
}
#nav-bar {
  background-color: var(--navBar);
  position:fixed;
  top: 20px;
  left: 25px;
  right: 25px;
  padding: 5px 5px;
  height: 55px;
  border-radius: 100px;
  display: flex;
  box-shadow: 0px 3px 9px rgb(15,15,15);
  /* box-shadow: 0px 5px 10px 0px rgba(0 0 0 / 40%); */
}
.n-left img {
  height: 45px;
  margin: 0;
  border-radius: 50%;
  border: 2.1px solid #8787c6;
  cursor: pointer;
  transition: .3s ease;
}
.n-left img:hover {
  filter: brightness(72%);
}
.n-center {
  display: flex;
  margin-left: auto;
  height: 45px;
}
.n-center button {
  outline: none;
  margin: 0;
  font-family: Encode Sans SC;
  background: transparent;
  /* font-weight: 750; */
  border: 0px;
  color: var(--color3);
  filter: brightness(150%);
  padding: 0 12px;
  transition: .3s ease;
  font-size: 14.5px;
  cursor: pointer;
}
.n-center button:hover {
  color: var(--color1);
  filter: brightness(100%);
}
.auto {
  color: var(--color1) !important;
  filter: brightness(100%) !important;
  cursor: auto !important;
}

.n-right {
  margin-left: auto;
}
.n-right button {
  height: 45px;
  width: 45px;
  outline: none;
  background: var(--color3);
  border-radius: 50%;
  border: 0px;
  color: var(--color1);
  transition: .3s ease;
  cursor: pointer;
  font-size: 14.5px;
}
.n-right button:hover {
  color: var(--color3);
  background: var(--color1);
}
#theme-con {
  position: fixed;
  right: 25px;
  top: 87px;
  background: var(--navBar);
  border-radius: 500px;
  padding: 5px 5px;
  display: flex;
  box-shadow: 0px 3px 9px rgb(15,15,15);
}
#light {
  outline: none;
  border: 0px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  background: var(--color1);
  color: var(--color3);
  filter: brightness(100%);
}
#light i {
  transition: .5s ease;
}
#light:hover i{
  transform: rotate(100deg);
}
#light:hover {
  transform: scale(0.9);
}

#dark {
  outline: none;
  border: 0px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  background: var(--color1);
  color: var(--color3);
  display: none;
}

#dark:hover {
  transform: scale(0.87);
}
#dark i {
  transition: .5s ease;
}
#dark:hover i{
  transform: rotate(219deg);
}

#color-opt {
  outline: none;
  border: 0px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  background: var(--color1);
  color: var(--color3);
  filter: brightness(100%);
}
#color-opt:hover {
  transform: scale(0.9);
  color: var(--color1);
  background: var(--color3);
}

.colors {
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 100px;
  margin-right: 5px;
}
.colors button {
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 50%;
  margin: 3px;
  transition: .3s ease;
  border: 0px;
  color: rgba(255, 255, 255, 0.95);
}
.colors button:hover {
  filter: brightness(72%);
}
.def {
  background: #acacf9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.ored {
  background: rgba(255, 100, 100, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.gween {
  background: rgba(0, 225, 158, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.glue {
  background: rgba(0, 158, 225, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.teel {
  background: rgba(0, 180, 180, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
#ored-t, #gween-t, #glue-t, #teel-t {
  display: none;
}
.titlebar {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-con h1 {
  text-align: center;
  color: var(--color1);
  font-family: accorm;
  font-weight: 1000;
  font-size: 5em;
  margin: 0px;
}
.info-con h2 {
  margin: 0px;
  font-family: dosis;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
}
.opts-con {
  display: flex;
  padding-top: 15px;
}
.outside {
  margin: 12px;
}
.inside2 {
  padding: 7.5px;
  border-radius: 50%;
  text-align: center;
  height: 150px;
  width: 150px;
  background: var(--color1);
  border: 50px ;
}
/* .inside2 i,span {
  font-size: 2.5em;
} */
.inside2 p {
  color: var(--color3);
  font-family: Encode Sans SC;
  padding-top: 5px;
  text-align: center;
  margin: 0px;
}
.fa-caret-right {
  font-size: 1.2em !important;
}
.title-cont {
  padding: 30px;
  border-radius: 15px;
  background: rgba(0,0,0,0.42);
}
.info-con h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 0 0;
}
.line {
  width: 100px;
  height: 3px;
  background-color: var(--color1);
}
.semi {
  height: 67.5px;
  width: 100%;
  border-radius: 150px 150px 0 0;
  background: var(--color3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color1);
}
h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  padding-top: 5px;
}
h5 div {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: transparent;
  padding: 5px;
  font-size: 0.5em !important;
  color: var(--color3) !important;
}
h5 div i {
  transition: .3s ease;
}
.inside2:hover h5 i {
  margin-left: 15px;
}
.inside1 {
  border-radius: 50%;
  padding: 25px;
  background: var(--trans1);
}
.outside {
  border-radius: 50%;
  padding: 25px;
  background: var(--trans2);
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 15px;
}
.option {
  position: relative;
  width: 300px;
  padding: 15px;
  background: var(--color2);
  margin: 12px;
  border-radius: 5px;
  font-size: 1.36em;
  font-family: accorm;
  color: var(--color3);
  transition: .3s ease;
  cursor:pointer;
}
.option:hover {
	background: var(--color3);
	color: var(--color1);
  transform: scale(0.95);
}
.option p {
  margin-bottom: 0px;
  filter: brightness(60%);
  position: relative;
}
.p-l {
  margin-right: 25px;
  text-align: right;
}
.p-r {
  margin-left: 25px;
  text-align: left;
}
.option:hover p {
	filter: brightness(120%);
}
.option:hover .opt-logo {
	filter: brightness(90%);
}
.opt-logo {
  position: absolute;
  bottom: 8px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: white;
  filter: brightness(132%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color3);
  transition: .3s ease;
}
.r {
	right: -19px;
}
.l {
	left: -19px;
}
#everything {
  margin-top: 50px;
}
.info-con h1 {
  margin-top:  50px;
}

.option:hover .opt-logo i {
	margin-left: 0px;
}
.option:hover .right-i {
	left: 135px;
}
.right-i {
	position: absolute;
	top: 2.5px;
	left: 120px;
	transition: .25s ease;
}
.option:hover .left-i {
  right: 135px;
}
.left-i {
  position: absolute;
  top: 2.5px;
  right: 120px;
  transition: .25s ease;
}
.compat {
  display: none;
  margin: 0;
  padding: 0;
}

#navBtn {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 39px;
  width: 39px;
  outline: none;
  border: 0px;
  border-radius: 12px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.32em;
  background: var(--color3);
  color: var(--color1);
  transition: .3s ease;
}
#navBtn i {
  transition: .3s ease;
}
#navBtn:hover {
  transform: scale(0.9);
  filter: brightness(75%);
}
#navBtn:hover i {
  transform: rotate(180deg);
}

#sidebar {
  background: var(--s-back);
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: -100%;
  transition: .375s ease;
  width: 100%;
  overflow: auto;
}

.close-nav {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 39px;
  width: 39px;
  outline: none;
  border: 0px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.32em;
  background: rgba(255, 255, 255, 0.05);
  color: var(--color1);
  transition: .3s ease;
}
.close-nav i {
  transition: .3s ease;
}
.close-nav:hover {
  transform: scale(0.9);
  filter: brightness(82%);
}
.close-nav:hover i {
  transform: rotate(180deg);
}

.s-header {
  display: flex;
  padding: 75px 25px 0px 25px;
  cursor: pointer;
}
.s-header img {
  height: 75px;
  border: 2px solid #acacf9;
  border-radius: 50%;
}
.s-header h2 {
  margin: 0;
}
.s-header p {
  margin: 0;
}
.s-text-h {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  font-family: accorm;
}
.s-text-h h2 {
  color: white;
}
.s-text-h p {
  color: rgba(255, 255, 255, 0.5);
}
.s-line {
  width: calc(100% - 75px);
  height: 2px;
  background: rgba(255, 255, 255, 0.075);
  margin: 37.5px 37.5px 0 37.5px;
}
.s-btn {
  display: flex;
  align-items: center;
  background: transparent;
  font-family: encode sans sc;
  outline: none;
  border: 0px;
  border-radius: 10px;
  padding: 12px 18px;
  color: rgba(255, 255, 255, .84);
  font-size: 1.2em;
  font-weight: 300;
  transition: .3s ease;
  margin: 7.5px 19.5px;
  width: calc(100% - 39px);
}
.s-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.topbtn {
  margin-top: 37.5px;
}
.topbtn p {
  margin-left: 25px;
}
.lowbtn p {
  margin-left: 25px;
}
.middlebtn p {
  margin-left: calc(25px - 3px);
}
.s-btn p {
  margin-bottom: 0;
  margin-top: 2px;
}
.middlebtn i {
  margin-left: -3px;
}

.s-colors {
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  margin-top: 37.5px;
  width: fit-content;
  box-shadow: 0px 3px 9px rgb(50,50,50);
}
.s-colors button {
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 50%;
  margin: 3px;
  transition: .3s ease;
  border: 0px;
  color: rgba(255, 255, 255, 0.95);
}
.s-colors button:hover {
  filter: brightness(72%);
}
.s-c-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 678px) {
  .option {
    width: 232px;
  }

}

@media screen and (max-width: 559px) {
  #navBtn {
    display: flex;
  }
  #nav-bar {
    display: none;
  }
  #theme-con {
    display: none;
  }
}

@media screen and (max-width: 542px) {
  .option {
    width: 180px;
  }
  .p-r {
    margin-left: 0px;
  }
  .p-l {
    margin-right: 0px;
  }
  .right-i {
    left: 95px;
  }
  .left-i {
    right: 95px;
  }
  .option:hover .left-i {
    right: 111px;
  }
  .option:hover .right-i {
    left: 111px;
  }
}

@media screen and (max-width: 438px) {
  .option {
    width: 160px;
  }
  .option:hover .left-i {
    right: 105px;
  }
  .option:hover .right-i {
    left: 105px;
  }
}

@media screen and (max-width: 397px) {
  .option {
    width: 100%;
  }
  .info-con h2 {
    margin: 0 12px;
  }
  .right-i {
    left: 132px;
  }
  .option:hover .right-i {
    left: 145px;
  }
  #everything {
    margin-top: 15px;
  }
  .info-con h1 {
    margin-top: 90px;
  }
  .info-con h6 {
    margin-top: 10px;
  }
  .norm {
    display: none;
  }
  .compat {
    display: block;
  }
  .flexy {
    margin-left: 25px;
    margin-right: 5px;
  }
}
@media screen and (max-height: 735px) {
  .s-header {
    padding: 50px 25px 0px 25px;
  }
  .s-line {
    margin: 30px 37.5px 0 37.5px;
  }
  .topbtn {
    margin-top: 30px;
  }
  .s-colors {
    margin-top: 30px;
  }
}